__pycache__/
.env
*.pyc
*.pyo
*.log

# data & outputs
data/
output/
shortlisted_candidates.csv

# streamlit
.streamlit/

# notebooks checkpoints
.ipynb_checkpoints/

# models / caches
*.bin
*.pkl
.venv/
